# Node modules and other dependencies
node_modules
npm-debug.log
yarn-error.log

# Logs
logs
*.log

# Dependency directories
jspm_packages/
.bower_components
dist/
coverage/

# Git and other version control
.git
.gitignore
.gitattributes

# Environment and configuration files
#.env
# .env.* # Ignore all variations of .env files

# Docker-specific files
Dockerfile
Dockerfile.*  # Any other Dockerfile variants
docker-compose.yml
docker-compose.*.yml

# IDEs and editors
*.swp
*~
.project
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Test directories
# Comment out the following lines to include the tests directory and test files
# tests/
# __tests__/
# *.spec.js
# *.test.js
# *.mjs

# Ignore any compiled or build files
*.out
*.o
*.exe
.DS_Store

# Ignore any markdown or documentation files
README.md
README.txt
*.md

# Add any other unnecessary files/folders here
.DS_Store  # MacOS
Thumbs.db  # Windows
